/uploads
/themes/twentynineteen
/themes/twentyseventeen
/themes/twentysixteen
/plugins/*
!/plugins/documents-management/
!/plugins/modify-admin-dashboard/
!/plugins/no-captcha-recaptcha-for-woocommerce/
!/plugins/loggedIn-user-activity/
!/plugins/new-user-approve/
/languages
/reliablesoftworks-updraft/
